<a href="https://colab.research.google.com/github/laraCamara/CONTROLCAMARA/blob/master/101_Java2Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desde Java hasta Python

Pudiera parecer que el paso de Java a Python es largo y tedioso (realmente son dos lenguajes que tienen bastantes diferencias).

Sin embargo, Python es tan poéticamente hermoso que facilita este traspaso. En realidad, vas a poder aplicar todo lo que ya sabes de Java a este nuevo lenguaje (los conceptos, quiero decir: declaración de variables, estructuras de control, subrutinas, programación orientada a objetos).

Durante este cuaderno (sí, ahora explicamos qué es esto de _los cuadernos_), vamos a ver los conceptos más básicos.

Ten en cuenta que no vamos a explicarlos, sino a ver la relación entre Java y Python. Si no te acuerdas de qué eran estos conceptos (por ejemplo: recurrencia, polimorfismo...) entonces deberías repasarlos lo antes posible.

# Los _cuadernillos_ de Google Colab

Una de las herramientas más potentes para trabajar con Python son los _cuadernillos_. En local, Jupyter; en la nube, Google Colab.

Un _cuadernillo_ está compuesto por celdas, que pueden ser de dos tipos: las que has visto hasta ahora (de texto, formateado con RMarkDown) y las de código, como la siguiente.

In [ ]:
2 + 2

4

Las celdas de código pueden **ejecutarse**, esto es: se creará un entorno virtual temporal en Google Colab en el que se lanzará un núcleo (_kernel_, que raro suena en español) en el que se instalará todo lo necesario para poder trabajar y, después, se trabajará sobre dicho _kernel_.

Piensa en este _kernel_ como lo **esencial** para trabajar y que, como todo núcleo, tendrás que defender de los ataques enemigos (en este caso, el enemigo eres tú creando bucles infinitos o saturando la memoria asignada). #FreeTheKernels.

En resumen: intenta no saturar tu _kernel_ o tu _session_ (la máquina virtual), se caerá y perderás todo lo que tengas en ejecución y no hayas guardado.

Volviendo al tema de las celdas (como has visto en la anterior), hemos usado el intérprete como si fuese una calculadora: simplemente ha resuelto la complicada operación de ```2+2```.

El resultado es devuelto y expuesto en la **salida de las celdas de código**, que por defecto es debajo de la celda (esto podría ser modificado, por ejemplo, a un fichero).

In [ ]:
60 / 10

6.0

Para ejecutar las celdas puedes pulsar sobre el botón de la izquierda, o (teniendo la celda seleccionada) pulsar sobre ```SHIFT``` + ```ENTER``` (esto creará una nueva celda debajo) o sobre ```CONTROL``` + ```ENTER``` (que no creará una nueva celda).

También puedes ejecutar **TODAS** las celdas anteriores o las del cuadernillo, pulsando arriba en _Entorno de ejecución_ --> _Ejecutar todas_.

# La operación más sencilla: declaración y asignación de variables

Además de usar el intérprete como una calculadora, podemos almacenar sus resultados en variables (llamadas **variables de entorno**).

Todas las variables son guardadas en un diccionario llamado globals, al que puedes acceder poniendo ```globals()```.

In [ ]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', '2+2', '60 / 10', 'globals()'],
 '_oh': {1: 4, 2: 6.0},
 '_dh': ['/content'],
 'In': ['', '2+2', '60 / 10', 'globals()'],
 'Out': {1: 4, 2: 6.0},
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x79e1a41a9e40>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x79e1a41aa3e0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x79e1a41aa3e0>,
 '_': 6.0,
 '__': 4,
 '___': '',
 '_i': '60 / 10',
 '_ii': '2+2',
 '_iii': '',
 '_i1': '2+2',
 '_1': 4,
 '_i2': '60 / 10',
 '_2': 6.0,
 '_i3': 'globals()'}

Como ves, las propias celdas de código que hemos creado forman parte de las varaibles de entorno.

Vamos a ejecutar una operación y la vamos a guardar en una variable.

In [ ]:
a = 2 + 2

Ahora, en ```a```, disponemos del resultado de haber ejecutado 2+2. Como has podido ver, ya no aparece el resultado en la _salida estándar_. Eso sucede porque lo hemos guardado en una variable y esta operación (_asignación_) devuelve un valor nulo (que en Python se llaman _None_).

Para poder ver el valor de la variable, puedes ejecutar una celda que contenga únicamente la mención de la variable.

In [ ]:
a

'Hola'

Un concepto que puede llegar a sorprenderte bastante es el de **tipado dinámico**. Java crea las variables de un solo tipo. Esto es: si tú creas una variable ```number``` de tipo ```int```, no vas a poder almacenar en ella una cadena de caracteres. En Python esto no es así. El tipo de las variables es determinado en tiempo de ejecución, por lo que puedes guardar cualquier cosa dentro de cualquier variable sin indicarlo explícitamente.

In [ ]:
print(a)
a = "Hola"
a

4

'Hola'

Al principio de la celda anterior, el tipo de ```a``` era ```int```, pero al finalizar ha sido ```str```.

Por cierto, como has visto, cada línea de código empieza en una nueva línea, sin utilizar ```;```. Para Python, cada línea es una **instrucción** diferente.

Además, hemos usado la función ```print```, que nos permite mostrar algo por la salida estándar.

Cuando decimos que una variable en Python puede almacenar cualquier cosa, es **cualquier cosa**, incluso funciones. Esto puede ser algo difícil de ver, pero nos facilitará el uso de la programación funcional al máximo.

In [ ]:
a = print
a("Hola")

Hola

Ahora ```a``` es un **álias** para la función ```print```.

Si esto del **tipado dinámico** te resulta caótico, no te preocupes. Python te permite tipar las variables si quieres, esta es la forma de hacerlo.

In [ ]:
a: int = 5

En la celda anterior, declaramos la variable ```a```, de tipo entero, y le asignamos el valor 5.

Desgraciadamente, nadie te asegurará que siga siendo un entero, pero te puede dar una ligera idea de qué valor tiene en tu código.

Una vez más, el desarrollo rápido es más importante que la coherencia y, aquí en Python, se ha potenciado lo primero ante todo. El hecho de que sea bonito y reutilizable es tu responsabilidad como programador.

In [ ]:
a = print
a("He cambiado")

He cambiado

# Las estructuras de control condicionales

## Operadores lógicos

Continuamos nuestro viaje a través de las condiciones. En Python, al igual que en Java, tenemos varios operadores lógicos que nos permitirán ejecutar (o no) ciertos fragmentos de código.

Por ejemplo:
- ! -> not
- && -> and
- || -> or

Los valores devueltos por estos operadores son, casi siempre, booleanos.

In [ ]:
1 != 2

True

In [ ]:
2 == 2 and 3 < 5

True

In [ ]:
2 != 1 or 3 == 4

True

> Serán casi siempre booleanos

¡Qué bonita forma de sembrar el caos! Y es que estos operadores no trabajan en una lógica booleana, sino en la lógica booleana ampliada, contemplando tres posibles valores: verdadero, falso y desconocido (_None_).

Por ejemplo, lo contrario de verdadero es falso; lo contrario de falso es verdadero; y lo contrario de desconocido es verdadero.

In [ ]:
 print(not True)
 print(not False)
 not None

False
True

True

Sin embargo, algo desconocido y algo cierto es... desconocido (necesitaríamos conocer este valor para asegurar que es cierto).

Fíjate que la salida estándar no muestra nada cuando se devuelve _None_.

In [ ]:
True and None

Así que algo desconocido y algo falso será falso, porque ya tenemos suficiente información.

In [ ]:
False and None

False

O no...

In [ ]:
print(None and False)
print(True or None)
None or False

None
True

False

En definitiva:
> No hagas operaciones con valores desconocidos o desconocerás la respuesta.

## Valores _truly_ y _falsy_

Los valores _truly_ y _fasly_ es otro concepto muy importante que debemos explicar (no existe en Java).

Existen valores que son universalmente entendidos como ciertos:
* Cualquier número distinto de cero.
* Una lista **NO** vacía.

Y otros que son universalmente entendidos como falsos:
* El número cero.
* Una lista vacía.

In [ ]:
print(not 0)
print(not 2)

True
False

In [ ]:
print(bool(1012301))
bool([])

True

False

Fíjate en cómo hemos declarado la lista: sin librerías, sin palabrería, simplemente corchetes.

Python tiene algunos tipos básicos que Java no tiene, como las listas ([]), los conjuntos ({}) y los diccionarios ({a: b}, quizá los conoces como HashTables). Puedes declararlos en cualquier momento con esa notación.

Dentro de estos tipos puedes guardar **lo que quieras**, donde, de nuevo, **lo que quieras** puede ser **lo que quieras**, incluso una función, una clase o un módulo entero.

## Bloques condicionales

Habiendo explicado todo lo anterior, podemos adentrarnos en los bloques condicionales.

Lo primero y más importante es conocer que la sintaxis utilizada es ```if```, después se añade la condición y se finaliza la cabecera del bloque usando ```:```.

Las siguientes líneas de código (que como ya sabes irán hacia abajo con saltos de línea) que necesiten ejecutarse solo si se cumple el ```if```, deberán estar indentadas un nivel, así:

In [ ]:
if 5 < 7:
  print("5 es menor que 7")

5 es menor que 7

Fíjate en la limpieza: sin paréntesis, sin corchetes...

In [ ]:
if 5 > 7:
  print("Nunca me voy a ejecutar")

Puedes crear una lista y ver si está vacía:

In [ ]:
l = []

if l:
  print("La lista NO está vacía")
else:
  print("La lista está vacía")

La lista está vacía

Hemos usado ya el bloque hermano de ```if```, llamado ```else``` (como en Java, vaya). También podríamos haber usado un operador ternario.

In [ ]:
print("La lista NO está vacía") if [1] else print("La lista está vacía")

La lista NO está vacía

¿Mucha información hasta ahora? No te preocupes, el operador ternario es útil pero no indispensable.

```py
take_a_break()
```

Antes de pasar a otro tema, debemos hacer mención al hermano bastardo de las operaciones lógicas, inexistente en Java, que es el operador ```elif```, este operador nos permite anidar de forma cómoda varias condiciones dentro de un mismo ```if```.

In [ ]:
if 0 > 5:
  print("Nop")
elif 0 < -5:
  print("Tampoco")
else:
  print("Me he cansado")

Me he cansado

Así podremos incluir cientos de líneas ```if - else``` sin indentar en exceso.

# Estructuras de control: while

Si bien es cierto que **casi nunca se usa esta estructura de control**, debemos explicarla para seguir adelante.

El ya conocido bloque ```while``` también existe en Python y se usa igual que en Java.

In [ ]:
index = 0
while index < 6:
  print(index)
  index += 1

0
1
2
3
4
5

# Estructuras de control: for

No existe, olvídate de esa nomenclatura tan horrible y hazte un favor a ti mismo.

# Estructuras de control: For Each

Lo que sí existe es el ```for each``` (que se escribirá for), que recorre todos los elementos de un iterable y realiza una acción para cada uno de ellos. Por ejemplo, para los elementos de una lista, podríamos mostrar sus cuadrados por pantalla.

In [ ]:
for element in [0, 1, 2, 3, 4, 5]:
  print(element ** 2)

0
1
4
9
16
25

Como ves, el operador ** es el operador potencia (sí, otra cosita nueva).

Hemos mostrado todos los cuadrados... pero definir así una lista puede ser horriblemente tedioso. Para ello, tenemos los rangos (que también son iterables). Por ejemplo:

In [ ]:
for element in range(10):
  print(element ** 2)

0
1
4
9
16
25
36
49
64
81

Tienes que tener cuidado porque los rangos declaran rangos (#Redundancia) no cerrados en el extremo derecho, es decir, no se incluye el último valor (en la lista anterior no hemos hecho 10 ** 2).

Dentro de los ```for each``` tenemos una gama muy amplia de objetos que pueden modificar su comportamiento. Por ejemplo, podemos iterar sobre dos objetos a la vez:

In [ ]:
for index, element in enumerate(range(10)):
  print(index, element ** 2)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

```range(10)``` genera un iterable con los valores del 0 al 9 (incluidos), y ```enumerate``` genera un mapa de los enteros (0, 1, ...) a cada elemento del iterable que se le pasa como parámetro. Es una forma elegante de utilizar un índice para un problema resoluble con ```for each```.

Ten especial cuidado porque lo que hemos visto antes no son dos ```anidados```, sino un ```for``` con dos iteradores, mira la diferencia abajo.

Además, haremos uso de la función ```zip```, que permite agrupar los elementos del mismo índice de distintos iterables en uno solo.

In [ ]:
r1 = range(0, 5)
r2 = range(5, 10)

for e1, e2 in zip(r1, r2):
  print(e1, e2)

0 5
1 6
2 7
3 8
4 9

In [ ]:
for e1 in r1:
  for e2 in r2:
    print(e1, e2)

0 5
0 6
0 7
0 8
0 9
1 5
1 6
1 7
1 8
1 9
2 5
2 6
2 7
2 8
2 9
3 5
3 6
3 7
3 8
3 9
4 5
4 6
4 7
4 8
4 9

# Elementos quizá no tan primitivos

## Listas por compresión

Habiendo visto las listas y los ```for``` (ya sé que son ```for each```, pero a partir de ahora los llamaremos así por simplificar), debemos explicar el funcionamiento de las listas por compresión.

Hemos visto ya una forma de definir una lista (con los corchetes). Otra forma sería con el contructor ```list```, que recibe un iterable como parámetro de entrada.

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Fíjate que incluso Python nos lo muestra con la notación de los corchetes.

Finalmente, podemos crear listas por compresión, como si fuesen conjuntos matemáticos.

In [ ]:
l = [element for element in range(10)] ; l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Por ejemplo, las sentencias anteriores son equivalentes (además, vemos que podemos poner dos sentencias en la misma fila si las separamos por ```;```).

Las listas por compresión nos permiten, además, añadir condiciones a la generación. Por ejemplo, para los números pares:

In [ ]:
l = [element for element in range(10) if element % 2 == 0] ; l

[0, 2, 4, 6, 8]

Fíjate en la notación para el módulo (solo un porcentaje) y para la condición: se añade un ```if``` después del ```for```.

Como hemos rodeado todo con paréntesis, hemos creado una lista. Si lo rodeamos todo con llaves, crearemos un conjunto (que se definía así).

In [ ]:
c = {element for element in range(10) if element % 2 == 0} ; c

{0, 2, 4, 6, 8}

De nuevo, Python comprende que es un conjunto. De hecho, podríamos realizar ahora operaciones sobre los conjuntos.

## Conjuntos y sus operaciones

Las operaciones sobre conjuntos son las que ya conoces.

In [ ]:
c1 = set(range(5))
c2 = set(range(5, 10))
c1, c2

({0, 1, 2, 3, 4}, {5, 6, 7, 8, 9})

In [ ]:
print(c1.union(c2))
print(c1.intersection(c2))
c1.difference(c2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

{0, 1, 2, 3, 4}

Para autocompletar una celda, puedes pulsar sobre ```CONTROL``` + ```ESPACIO```.

## Listas de listas

Como hemos comentado anteriormente, dentro de una lista podemos incluir cualquier cosa. Esto lo podemos hacer desde su construcción (con los paréntesis) o en tiempo de ejecución con los métodos que tienen predefinidos las listas. En particular, vamos a ver la diferencia entre los métodos ```append``` y ```extend```, que son muy importantes.

El primero de ellos nos permite añadir un elemento a una lista, este elemento se incluirá al final de la lista.

In [ ]:
l = list(range(10))
l.append(10)

Como ves, el método ```append``` (o mejor dicho, como **NO** puedes ver) no devuelve nada (devuelve **None**). Cuidado al utilizarlo.

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Por otra parte, el método ```extend``` permite incluir **TODOS** los valores de un iterable a una lista, uno por uno. Es decir: no añade el iterable al final, sino todos los elementos. Aclaremos esto:

In [ ]:
l1 = list(range(10))
l2 = list(range(10, 20))
l1.append(l2) # añade l2 como el último elemento de l1
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

Los elementos dentro de una lista no tienen por qué ser del mismo tipo (recuerda: **tipado dinámico**).

In [ ]:
l1.extend(l2) # esto añade cada elemento de l2 a l1
l1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

Esta diferencia puede ser vital y la diferencia es muy importante, intenta no olvidarlo.

## Metodos de los iterables

Hemos ido viéndo que las listas (en general los iterables) van a ser una parte fundamental de nuestros programas, veamos las operaciones que podemos hacer sobre una lista.

Empezaremos con determinar si un elemento está dentro de un iterable o no. Usaremos la palabra clave ```in``` para ver si algo está dentro de otro objeto.

In [ ]:
2 in range(5)

True

In [ ]:
10 in []

False

También hemos visto los métodos ```append``` y ```extend``` (solo para listas).

También podemos concatenar listas con el símbolo ```+```.

In [ ]:
l1 = [1, 2] ; print(l1)
l2 = [3, 4] ; print(l2)
l1 + l2

[1, 2]
[3, 4]

[1, 2, 3, 4]

Finalmente, nos falta ver la forma de acceder de forma aleatoria a los elementos de un iterable.

Cuando decimos **aleatoria** nos referimos a que es arbitraria (elegida por el usuario) y no secuencial como en el ```for```.

En particular, usaremos los objetos ```slice``` (rebanadas), que nos permitirán definir exáctamente qué necesitamos. Veamos los ```slice``` unidimensionales.

## ```Slices``` unidimensionales

Si el iterable tiene solo una dimensión, podemos acceder a los elementos de éste con su posición exacta.

In [ ]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l[0] # como en Java

0

Pero también podemos acceder a varios elementos a la vez con los símbolos clave ```:```. Este símbolo significará _desde hasta_. Por ejemplo, para ver los elementos _desde_ 2 _hasta_ 4 haremos:

In [ ]:
l[2:4]

[2, 3]

Fíjate que el segundo es abierto (no llegamos hasta el 4, sino hasta el anterior).

Si no indicamos nada en el _desde_ o en el _hasta_, se recogerán todos los elementos _desde_ el principio o _hasta_ el final, respectivamente.

In [ ]:
l[:5]

[0, 1, 2, 3, 4]

In [ ]:
l[5:]

[5, 6, 7, 8, 9]

Por lo tanto, si no se indica nada excepto ```:```, se recogerá el iterable entero.

In [ ]:
l[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

De hecho, la celda anterior crea una copia del iterable (por tanto, ya conoces una forma de duplicar listas).

Esta notación puede ser especialmente importante en listas de más de una dimensión.

Finalmente, podemos usar ```slices``` negativos para referirnos a posición que empiecen desde el final. Por ejemplo:

In [ ]:
l[-1] # devuelve el último elemento

9

Además, podemos separar el ```slice``` en un tercer apartado que nos permita definir la longitud de los saltos que damos.

In [ ]:
l[::2] # recorre toda la lista dando saltos de 2 en 2

[0, 2, 4, 6, 8]

In [ ]:
l[::-1] # recorre toda la lista dando saltos de 1 en 1, pero hacia atrás (negativo)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## ```Slices``` multidimensionales

Como dentro de una lista podemos guardar otra lista, podemos crear listas de listas (ya vistas antes).

Si logramos que se mantenga una estructura común genérica, podemos crear matrices (veremos que hay formas muchísimo más eficientes de hacer esto con algunas librerías).

In [ ]:
l1 = [1, 2, 3]
l2 = [3, 4, 5]
l3 = [5, 6, 7]
matrix = [l1, l2, l3]
matrix

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

Ahora, podemos navegar por los elementos de la matriz.

In [ ]:
matrix[0][0] # coge la primera lista y, de esta, el primer elemento

1

Esta navegación está bastante limitada al tener que separar los corchetes. Por ejemplo, no tenemos una forma sencilla de obtener una submatriz con ciertos elementos.

Por cierto, es importante notar que al usar la notación ```:``` se devuelve otro iterable.

In [ ]:
matrix[:2] # cojo las dos primeras filas

[[1, 2, 3], [3, 4, 5]]

Volveremos en un momento a hablar de esto.

# Las funciones

Otros objetos fundamentales en el uso diario de Python son las funciones. Para definir una función, necesitaremos la palabra clave ```def```, el nombre de la función y la cabecera. Debemos notar que el nombre de la función (y esto te va a llevar horas de disgustos) es una **variable** que ahora almacenará una función. Vemamos un ejemplo sencillo.

In [ ]:
def square(number):
  return number ** 2

A partir de ahora, la función se almacena en la variable ```square``` (literalmente):

In [ ]:
square

Y puede ser llamada en cualquier momento para devolver el cuadrado de un número:

In [ ]:
square(5)

25

Si en algún momento se modifica la referencia de la variable ```square```, la función se perderá para siempre.

In [ ]:
square = "Hola"
square

'Hola'

También podemos tipar los datos de la cabecera o darles un valor por defecto.

In [ ]:
def square(number: int = 5):
  return number ** 2

square()

25

Una función puede devolver cualquier número de _outputs_: desde ninguno, como la función ```print``` (siempre será _None_); uno, como la función ```square``` que acabamos de definir; o más de uno (sí, esto en Java no existe). Si devuelve más de un valor, se devolverá en forma de **tupla**.

In [ ]:
def double_square(number: int):
  return number * 2, number ** 2

double_square(5)

(10, 25)

Como ves, el resultado ahora tiene paréntesis (ni corchetes ni llaves). Las tuplas son un tipo básico de Python muy restrictivo que no permiten la modificación de sus valores.

Si llamas a una función que devuelve varios valores, entonces posiblemente estés esperando varios valores en la salida.

In [ ]:
valor1, valor2 = double_square(5)
print(valor1, valor2)

10 25

De igual forma, una función también puede esperar un número no determinado de argumentos. Si son valores independientes, se llaman ```*args```, si son diccionarios (parámetros con nombre), se llaman ```**kwargs```.

No nos vamos a meter con esto ahora mismo, pero que te vaya sonando.

Por supuesto, una función puede devolver **cualquier cosa**, incluso otra función, módulo o clase. Además, también pueden llamarse a sí mismas.

In [ ]:
def factorial(number: int):
  if number < 0:
    print("Factorial negativo no definido")
  elif number < 3:
    return 1 if number in [0, 1] else 2
  else:
    return number * factorial(number-1)

Dedica un poco de tiempo a entender la función anterior si no la entiendes a la primera.

In [ ]:
for number in range(-1, 5):
  print(factorial(number))

Factorial negativo no definido
None
1
1
2
6
24

¿Sabrías decir por qué aparece un _None_ en la salida?

# Programación orientada a objetos

## Las clases

Como otros tantísimos lenguajes de programación, Python también admite el paradigma orientado a objetos (y de hecho, como ya hemos ido viendo, es el generalmente utilizado --**todo** son objetos en Python--).

Durante esta parte del _cuadernillo_ veremos cómo podemos definir clases y las relaciones que podemos tener entre ellas.

Lo primero de todo es la definición. Para definir una nueva clase, necesitamos utilizar la palabra clave ```class```.

In [ ]:
class Ball:
  pass

Hay otras palabras clave que no hemos comentado todavía y que es buena idea comentar ahora. Estas palabras clave pueden usarse, sobre todo, a la hora de desarrollar nuevo código, para crear componentes vacías.

La palabra clave ```pass``` no hace nada, simplemente rellena un espacio que debe estar ya ocupado (si no pusiésemos ```pass``` en la celda anterior, nos daría un error de indentación al no encontrar nada dentro de la definición de la clase).

En los bucles ```for```, podemos hacer uso del ya conocido ```break``` para salir del bucle, pero también del ```continue```, para pasar al siguiente elemento sin terminar de ejecutar todas las instrucciones del cuerpo del ```for```.

Volviendo al caso que nos ocupa, acabamos de definir una clase ```Ball``` que no tiene métodos. Vamos a añadir, al menos, un constructor.

In [ ]:
class Ball:
  def __init__(self, id: int = 0):
    self.id = id

Dentro de la clase que ya habíamos definido, hemos sustituído la palabra clave ```pass``` por una función. En este caso, ```__init__``` es una función muy especial. Esta función es el constructor de toda la vida. Fíjate también la diferencia con Java: en Python el propio objeto no es ```this```, sino ```self```. Además, esta referencia debe ser el primer elemento de los métodos que no sean estáticos (por lo que, cualquier método dentro de una clase que no contenga la palabra clave ```self```, será estático).

Este constructor recibe un ```int``` como entrada (o le asigna el valor 0 si no recibe ninguno), y lo almacena en un atributo de la clase llamado ```id```.

Ahora viene cuando la matan: **en Python todo es público**. No existe el concepto de un método privado (al menos no es imposible acceder a cualquier componente). Por esto mismo, se ha desarrollado cierta nomenclatura que te indica que estás intentando acceder a un método que igual no necesitas acceder. Es como una señal de aviso.

En particular, se usa un símbolo ```_``` delante del nombre para indicar que el método es privado. Por otra parte, se usan dos símbolos ```_``` para indicar que el método es **super** privado (generalmente, heredado de otras superclases), y muy raramente son utilizados.

Fíjate, por tanto, que al definir el método ```__init__``` estamos definiciendo un método muy especial. Existen otros, como ```__str__``` (```.toString```) o ```__add__```, que nos permiten dar una representación con una cadena de caracteres y definir la suma de esos elemenetos, respectivamente.

Huelga decir que la nomenclatura del uso de ```_``` para definir qué debería ser público y qué no también se utiliza con los atributos de la clase. En este caso, nuestro atributo ```id``` es público y es completamente seguro de acceder desde fuera de la clase.

In [ ]:
b = Ball(1)
b.id

1

Como hemos dicho, todo es público y modificable desde cualquier sitio (esto puede llegar a ser realmente caótico, pero recuerda que la responsabilidad siempre recae en el programador). Por ejemplo, no es ilegal definir atributos nuevos en métodos secundarios de la clase o incluso fuera.

En el caso de acceder a un atributo inexistente, recibirás una excepción.

![image.png]()

In [ ]:
b.new = "Hola"
b.new

'Hola'

Más adelante veremos cómo se trabajan en Python las excepciones.

Por ahora, vamos a seguir añadiendo métodos a nuestra clase ```Ball```.

In [ ]:
class Ball:
  def __init__(self, id: int = 0):
    self.id = id

  def __str__(self) -> str:
    return str(self.id)

En este caso, hemos redefinido el método ```__str__``` (recuerda, el ```toString```). Fíjate que, en el caso de querer anotar los tipos, puedes añadir ```-> int``` al final de un método para determinar que devuelve un tipo entero.

Como en Python se pueden devolver varios tipos, esta nomenclatura puede llegar a ser bastante tediosa, pero ahí la tienes.

Ahora, si hacemos un ```print``` de ```Ball```, nos mostrará su ```id```.

In [ ]:
b = Ball(1) # tengo que redefinir esto para crear una nueva instancia
print(b)

1

In [ ]:
b

Fíjate que la salida estandar se modifica si no llamamos al método ```print```, esto es porque si no añadimos esa función, simplemente se utiliza la representación del objeto. Para modificar esta representación, se debe utilizar el método ```__repr__```.

In [ ]:
class Ball:
  def __init__(self, id: int = 0):
    self.id = id

  def __str__(self) -> str:
    return str(self.id)

  def __repr__(self) -> str:
    return str(self.id)

In [ ]:
b = Ball(1)
b

1

Además de los métodos privados y **super** privados, podemos añadir otros métodos que nos pueden ayudar en el desarrollo del objeto. Estos métodos, recuerda, podrán crear nuevos atributos o incluso borrar otros existentes.

No lo hemos hablado hasta ahora, pero la memoria en Python es gestionada automáticamente (como en Java). Solo las referencias nulas son eliminadas. Para borrar una referencia (ponerla en nulo), no sirve igualarla a _None_, porque entonces sí tendría un valor (desconocido). Para eliminar una referencia se debe asignar otro valor o usar la palabra clave ```del```.

Cuando decimos asignar otro valor nos referimos a los siguiente. Imaginemos que existe el objeto ```b``` de la clase ```Ball```. Podemos igualar esta variable ```b``` a cualquier otra cosa y, entonces, esa referencia al objeto ```Ball``` se perderá, por lo que, en un futuro, será eliminada automáticamente por el recolector de basura.

In [ ]:
del b # borra la referencia

Vamos a crear un método ```bounce``` dentro de ```Ball```.

In [ ]:
class Ball:
  def __init__(self, id: int = 0):
    self.id = id

  def bounce(self, times: int = 1):
    for _ in range(times):
      self.id += 1
      print(f"Bounce one more time: {self.id}")

  def __str__(self) -> str:
    return str(self.id)

  def __repr__(self) -> str:
    return str(self.id)

In [ ]:
b = Ball(0)
b.bounce(10)

Bounce one more time: 1
Bounce one more time: 2
Bounce one more time: 3
Bounce one more time: 4
Bounce one more time: 5
Bounce one more time: 6
Bounce one more time: 7
Bounce one more time: 8
Bounce one more time: 9
Bounce one more time: 10

El método ```bounce``` pretende ser público (fíjate, no se han usado ```_```). Además, recibe un ```int``` como parámetro de entrada, que por defecto toma el valor de 1, y aumenta el valor del atributo ```id``` en esa cantidad.

Lo hace de uno en uno, por lo que se usa un ```_dummy_ for```, muy típico en Python (como no se usa el valor de los elementos del iterable, sino que solo se quiere hacer una tarea esa cantidad de veces, se le llama ```_``` a la variable para indicar que no tiene ningún valor importante).

## Herencia

Obviamente, el concepto de **herencia** existe y es muy utilizado en Python, lo que permite utilizar todos sus mecanimos. En particular, vamos a ver el polimorfismo y la herencia múltiple (prohibida en Java).

Para heredar de una clase, se añade entre paréntesis su nombre. Si hubiera más de una, se separan por comas.

In [ ]:
class SuperBall(Ball):
  pass

Ahora que tenemos ```SuperBall```, que hereda de ```Ball```, podemos hacer uso de ```super```, un método que nos permite acceder a la superclase.

Por ejemplo, el constructor de ```SuperBall``` podría tener esta pinta.

In [ ]:
class SuperBall(Ball):
  def __init__(self, id: int = 0):
    super().__init__(id)

Fíjate en cómo se llama a ```super``` y, después, a su constructor.

Ahora vamos a crear un método ```bounce``` que haga polimorfismo sobre el ya conocido.

In [ ]:
class SuperBall(Ball):
  def __init__(self, id: int = 0):
    super().__init__(id)

  def bounce(self, times: int = 1):
    for _ in range(times):
      self.id += 5
      print(f"SUPER BOUNCING one more time: {self.id}")

In [ ]:
sb = SuperBall(0)
sb.bounce(1)

SUPER BOUNCING one more time: 5

Obviamente, el resto de métodos modificados (como ```__str__```) pueden utilizarse en la subclase.

In [ ]:
print(sb)

5

En Python no existe el concepto de método abstracto de forma nativa. Tampoco el de interfaz. Una forma sencilla de crearlos es la siguiente.

In [ ]:
class IAlive:
  def new(self):
    self.alive = True

  def destroy(self):
    self.alive = False

Ahora, nuestras clases, como ```SuperBall```, pueden heredar de ```Ball``` y de la _interfaz_ ```IAlive```.

In [ ]:
class SuperBall(Ball, IAlive):
  def __init__(self, id: int = 0):
    super().__init__(id)
    self.new() # esto creará el atributo alive

  def bounce(self, times: int = 1):
    for _ in range(times):
      self.id += 5
      print(f"SUPER BOUNCING one more time: {self.id}")

In [ ]:
sb = SuperBall(0)
sb.bounce(2)

SUPER BOUNCING one more time: 5
SUPER BOUNCING one more time: 10

In [ ]:
sb.alive

True

In [ ]:
sb.destroy()
sb.alive

False

Como puedes imaginar, se puede añadir toda la funcionalidad que desees dentro de esta gestión de estados (que es lo que hemos usado para la multiherencia).

No vamos a ver el caso extremo en el que se hereda de dos clases que contienen un método llamado igual, porque es una muy mala praxis de la programación, pero Python tiene mecanismos para desambiguar este hecho y permite acceder a todos los métodos, sean de la clase que sean.

Existe una excepción muy útil llamada ```NotImplementedMethod``` para hacer referencia a esos métodos definidos pero no implementados (similares a los usados en las clases abstractas). Se usa así:

In [ ]:
class Ball:
  def __init__(self, id: int = 0):
    self.id = id

  def bounce(self, times: int = 1):
    for _ in range(times):
      self.id += 1
      print(f"Bounce one more time: {self.id}")

  def unbounce(self, times: int = 1):
    raise NotImplementedError()

  def __str__(self) -> str:
    return str(self.id)

  def __repr__(self) -> str:
    return str(self.id)

In [ ]:
b = Ball(0)
# b.unbounce()

![image.png]()

Y ahora, con herencia, podemos definirlo de distinta forma (polimorfismo).

In [ ]:
class SuperBall(Ball, IAlive):
  def __init__(self, id: int = 0):
    super().__init__(id)
    self.new() # esto creará el atributo alive

  def bounce(self, times: int = 1):
    for _ in range(times):
      self.id += 5
      print(f"SUPER BOUNCING one more time: {self.id}")

  def unbounce(self, times: int = 1):
    self.id -= times
    print(self) # podemos hacer esto, y tiene sentido, porque hemos redefinido __str__

In [ ]:
sb = SuperBall(0)
sb.bounce(5)
sb.unbounce(5)

SUPER BOUNCING one more time: 5
SUPER BOUNCING one more time: 10
SUPER BOUNCING one more time: 15
SUPER BOUNCING one more time: 20
SUPER BOUNCING one more time: 25
20

# Programación funcional

Para finalizar este _cuadernillo_ de iniciación vamos a abrir el melón de la programación funcional.

Como todo en Python son objetos, incluso las funciones, la programación funcional está implementada de forma nativa (al menos, lo más básico).

Para este ejemplo, volveremos a crear la función de los cuadrados.

In [ ]:
def square(number):
  return number ** 2

Ahora, necesitamos explicar las funciones anónimas ```lambda```, funciones _sin nombre_, porque se usan para definir funciones en una sola línea:

In [ ]:
lambda e: e ** 2

Como no tiene nombre, no podemos usarla fuera del contexto para el que fue definida.

La función anterior también genera el cuadrado de un número, fíjate que el ```return``` no se indica, dado que se entiende que es el único contenido que hay dentro de la función ```lambda```.

¿En qué contextos se pueden usar estasa funciones? Por ejemplo, en funciones que tienen funciones como parámetro de entrada.

In [ ]:
def pow(number, function):
  return function(number)

Ahora, podemos llamar a ```pow``` definiendo una función ```lambda```.

In [ ]:
pow(5, lambda e: e ** 2)

25

Y esta función se ejecutará (por cómo hemos definido ```pow```), tomando como parámetro de entrada el número.

In [ ]:
pow(5, lambda e: e ** 3)

125

Si cambiamos la función anónima, entonces cambia el resultado obtenido.

In [ ]:
pow(25, lambda e: e ** (1/2))

5.0

Por las propiedades de las potencias, elevar a 1/2 es lo mismo que hacer la raíz cuadrada, por lo que la función anterior ha calculado la raíz cuadrada de 25. Fíjate, por tanto, que el resultado devuelto no es un ```int```, sino un ```float```.

Existen un conjunto muy importante de funciones que nos facilitan el trabajo de listas usando programación funcional. La primera es ```map```, que nos permite generar un iterable aplicando una función a cada elemento del iterable. Por ejemplo:

In [ ]:
l = range(10)
l

range(0, 10)

In [ ]:
l = map(lambda e: e + 5, l)
l

Para resolver el resultado, debemos volver a convertir el ```map``` a ```list```.

In [ ]:
list(l)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

En este caso, hemos sumado 5 unidades a todos los elementos del rango [0, 10).

Otra operación muy común que podemos hacer es filtrar la información de un iterable. Esto es equivalente a hacer un ```for``` y después eliminar los elementos indeseados.

Para filtrar, usaremos la función ```filter```, que como ```map```, recibe una función y un iterable como parámetros de entrada.

In [ ]:
l = range(10)
f = filter(lambda e: e % 2 == 0, l)
list(f)

[0, 2, 4, 6, 8]

Como ves, el resultado es igual al que habíamos obtenido anteriormente con una lista por compresión. Esta función puede ser muy útil a la hora de trabajar con objetos, porque se puede filtrar por el valor de algunos atributos.

Finalmente, otra función muy interesante de conocer es la función ```reduce```, que no es nativa de Python (necesitamos importar un módulo especial).

Esta función nos permite reducir un iterable a un solo valor, dependiendo de una condición. De esta forma, por ejemplo, podríamos calcular el valor más grande de una lista, entre otros.

In [ ]:
import functools # así se importan módulos en Python: import + nombre_del_módulo

l = range(10)
functools.reduce(lambda acc, ele: acc if acc > ele else ele, l) # calcula el máximo del iterable

9

Ya que estamos, vamos a ver las tres formas que tenemos de importar funcionalidad en Python.

La primera ya la hemos visto, podemos importar **todo el módulo** en la variable que toma su mismo nombre con la instrucción ```import```.

Si solo nos interesa una función del módulo, o nos interesa acceder a algunas funciones sin utilizar el álias (el nombre del módulo + punto + función ```functools.reduce```), podemos utilizar la siguiente instrucción:

In [ ]:
from functools import reduce

l = range(10)
reduce(lambda acc, ele: acc if acc > ele else ele, l)

9

Al haber usado ```from + import```, podemos utilizar la función sin hacer mención al módulo al que pertenece.

Finalmente, si queremos cambiar el nombre en el que se almacenará la información del módulo, podemos darle un nuevo álias usando el nombre clave ```as``` en cualquiera de las dos formas anteriores.

In [ ]:
import functools as f
from functools import reduce as r

In [ ]:
f.reduce

In [ ]:
r

Aquí termina este _cuadernillo_ de iniciación, que no deja de ser un baño sobre distintas cosas útiles de conocer en Python.

En los siguientes cuadernillo veremos dos de los módulos más importantes a la hora de trabajar con Inteligencia Artificial (básica, al menos): ```numpy``` y ```pandas```.